@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.PatientName): @Html.DisplayFor(model => model.PatientName)
@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.PatientId}, new {@class="btn btn-primary btn-sm"})</p>
