@{
  Layout = "_Layout";
}
<h1>Doctors rule, Surgeons drool.</h1>
<br>
<p>@Html.ActionLink("See All Specialties", "Index", "Specialties", null, new {@class="btn btn-primary btn-sm"})</p>
<p>@Html.ActionLink("See All Doctors", "Index", "Doctors", null, new {@class="btn btn-primary btn-sm"})</p>
<p>@Html.ActionLink("Add New Doctor", "Create", "Doctors", null, new {@class="btn btn-success btn-sm"})</p>