@{
  Layout = "_Layout";
}
<h1>Doctors rule, Surgeons drool.</h1>
<p>@Html.ActionLink("See all doctors", "Index", "Doctors", null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Add New Doctor", "Create", "Doctors", null, new {@class="btn btn-success btn-sm"})</p>