<div id="header">
  <ul id="headerUl">
    <li id="headerLi">@Html.ActionLink("Patients", "Index", "Patients")</li>
    <li id="headerLi">@Html.ActionLink("Doctors", "Index", "Doctors")</li>
    <li id="headerLi">@Html.ActionLink("Specialties", "Index", "Specialties")</li>
    <li id="headerLiLeft">@Html.ActionLink("Doctor's Office", "Index", "Home")</li>
  </ul>
</div>